{% extends 'base.html' %} {% block content %}
<div class="card mx-auto mt-5" style="max-width: 500px">
  <div class="card-header text-center">
    {% if action == 'reset' %} Reset Password {% elif action == 'change' %}
    Change Password {% else %} Update Password {% endif %}
  </div>
  <div class="card-body">
    <form
      method="POST"
      action="{% if action == 'reset' %}{% url 'new_password' %}{% else %}{% url 'change_password' %}{% endif %}"
    >
      {% csrf_token %} 
      
      {% if action == 'change' %}
      <!-- Old Password -->
      <div class="mb-3">
        <label for="password" class="form-label">Old Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          required
        />
      </div>
      {% endif %}

      <!-- Password -->
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="password1"
          name="password1"
          required
        />
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <label for="password2" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="password2"
          name="password2"
          required
        />
      </div>

      <!-- Submit -->
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <div class="card-footer text-muted text-center">
    Login with password? <a href="{% url 'login_user' %}">Login</a>
  </div>
</div>
{% endblock %}
