{% extends 'base.html' %} {% block content %}

<div
  class="container d-flex justify-content-center align-items-start"
  style="min-height: 100vh">

 
  <div class="card shadow p-4" style="width: 100%; max-width: 800px">
    <h3 class="text-center mb-4">Forgot your password?</h3>
    <p>Enter your email address bellow. We will send instruction</p>
    <form method="POST" action="{% url 'reset_password' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="username" class="form-label">Email*</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          required
        />
      </div>

      <a href="{% url 'profile' %}" class="btn btn-secondary">Cancel</a>
      <button type="submit" class="btn btn-primary">Proceed</button>
    </form>
  </div>
</div>

{% endblock %}
